body{
  font-family:Marker Felt, fantasy;
}

nav{
  background-color: rgba(245, 30, 30, 0.782);
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
}


.btn{
  border-style: none;
  background-color:transparent;
  font-size:30px;
  color:white;
  margin:20px;
  font-family:Marker Felt, fantasy;
}

.form-sec{
  position: absolute;
  left:19%;
  top:8%;
}

.sign-form{
  color:white;
  width:600px;
  padding:45px;
  font-size:30px;
  background:rgba(66,65,62,0.7);
  display:flex;
  flex-direction: column;
}
.sign-form *{
  margin:20px;
}
.sign-form input{
  font-size:20px;
  height:40px;
}

.btn-sec{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.btn-sec > button{
  width:30%;
  font-size:30px;
  border:solid;
  padding:10px;
}
